/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";




html {
    background-color: black;
}

i {
    font-size: 1.5rem!important;
}

fa-icon {
    font-size: 1.5rem!important;
}
      
app-tabs {
    background-color: white;
}

app-add-to-wall, app-photo-edit, app-upload {
    canvas {
      max-width: 100%;
    }
    img.display-no-filter {
     // display: none !important;
    }
}

* {
    -webkit-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
    }


ion-header{
    box-shadow:
    0 0 10px 10px rgba(0, 0, 0, 0.2), 
    0 0px 10px rgba(0, 0, 0, 0.24);
}

ion-menu-button, ion-menu-button > ion-button > i, ion-back-button > button > span > ion-icon {
    color:#eeeeee!important;
}

ion-toolbar > ion-title {
    color: #eeeeee;
    text-align: center;
}
ion-header > ion-toolbar {
    --background: #760000;
}

.alert-message{
    white-space: pre-wrap!important;
    max-height:450px!important;
    text-align:left!important;
}

.customAlert{
    --height:380px;
    textarea{
        height: 200px;
    }
}

.modal-wrapper{
    //width: 100%!important;
    //border-radius:0px!important;
    height: 100%!important;
    border-radius: 0px;

   
    @media (min-width: 992px) {
      background-color: transparent!important;
      width:70%!important;
      max-width:1000px!important;
      height:80%!important;
      max-height:705px!important;
    }
  
    
}

ion-header {
  ion-toolbar {
    @media (min-width: 992px) {
      min-height: 50px;
    }
  }
}

ion-backdrop{
    --backdrop-opacity: 75%!important;
}
// test

// Screen size hidden
.invisible {
    visibility: hidden !important;
  }
  
  .hidden-xs-up {
    display: none !important;
  }
  
  @media (max-width: 575px) {
    .hidden-xs-down {
      display: none !important;
    }
  }
  
  @media (min-width: 576px) {
    .hidden-sm-up {
      display: none !important;
    }
  }
  
  @media (max-width: 767px) {
    .hidden-sm-down {
      display: none !important;
    }
  }

  @media (min-width: 767px) {
    .hidden-md-up {
      display: none !important;
    }
  }

  @media (max-width: 992px) {
    .hidden-md-down {
      display: none !important;
    }
  }

  @media (min-width: 992px) {
    .hidden-lg-up {
      display: none !important;
    }
  }



  @media (min-width: 576px) {
    body {
        background: #000000
    }

    ion-split-pane {
      max-width:1170px;
      margin: auto auto;
    }


  }


  @media (min-width: 992px) {
    app-photoslider{
      // max-height:690px;
   }
  }






  


